/*	****************************************
	Base styles
	**************************************** */
html, body {
    height: 100%; /* magic for long scolly pages with sections, part 1 */
    margin: 0; /* typical - gets rid of the default margin on the BODY */
}

/*	****************************************
	Persistent (Fixed) Navigation
	**************************************** */


/*	****************************************
	Long-scrolly sections
	**************************************** */
section {
    min-height: 100%;  /* magic for long scolly pages with sections, part 2 */
    /*padding-top: 75px;*/ /* how tall is the persistent nav bar at the top? */
    display: flex;
    text-align: center; /* typical for long scrolly pages */
}