svg {
  width: 90vw;
  height: 90vh;
  position: relative;
}

path {
  fill: #efefef;
  cursor: pointer;
  position: relative;
}

.US {
  fill: #eddde6;
}

.FR {
  fill: #f3e0d7;
}

.JP {
  fill: #e0d8e8;
}

.ES {
  fill: #dde6ed;
}

.DE {
  fill: #bcdbca;
}

.CN, .TW{
  fill: #f3e0d7;
}

.IT {
  fill: #e0d8e8;
}

.GB {
  fill: #eddde6;
}

.NL {
  fill: #dde6ed;
}

.CH {
  fill: #cff4f4;
}

.AT {
  fill: #ffdbce;
}

.BE {
  fill: #dde6ed;
}

.DK {
  fill: #e0d8e8;
}

.NO {
  fill: #dde6ed;
}

.KR {
  fill: #dde6ed;
}

.SE {
  fill: #f3e0d7;
}

.icons {
}

.fifthContainer button {
  background-color: transparent;
  border: none;
  padding: none;
  margin: none;
  text-decoration: none;
  font-size: 36px; 
  color: #e9433a ;
  z-index: 100;
}

.map-location { 
  position: absolute; 
}

.dogras-location-bubble { 
  position: absolute; 
  top: -20px; 
  left: 23px; 
  width: 100px;
  margin-left: -58px; 
  padding: 5px; 
  border-radius: 4px; 
  box-shadow: 0 0 20px rgba(0,0,0,.15); 
  background-color: white; 
  font-size: 14px; 
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  display: none;
  position: absolute;
  z-index: 200;
  padding-bottom: 2px;
}

.pin-usa { 
  top:450px;
  left: 295px;
}

.pin-fr {
  top: 415px;
  left: 580px;
}

.pin-jp {
  top: 450px;
  left: 963px;
}

.pin-es {
  left: 565px;
}

.pin-de {
  top: 398px;
  left: 600px;
}

.pin-cn {
  top: 470px;
  left: 870px;
}

.map-location:hover .dogras-location-bubble {
  display: block;
}

.fifthContainer button:hover{
  font-size: 42px;
}







