svg {
  width: 90vw;
  height: 90vh;
  position: relative;
}

path {
  fill: #efefef;
  position: relative;
}

.US {
  fill: #eddde6;
}

.FR {
  fill: #f3e0d7;
}

.JP {
  fill: #e0d8e8;
}

.ES {
  fill: #dde6ed;
}

.DE {
  fill: #bcdbca;
}

.CN, .TW{
  fill: #f3e0d7;
}

.IT {
  fill: #e0d8e8;
}

.GB {
  fill: #eddde6;
}

.NL {
  fill: #dde6ed;
}

.CH {
  fill: #cff4f4;
}

.AT {
  fill: #ffdbce;
}

.DK {
  fill: #e0d8e8;
}

.NO {
  fill: #dde6ed;
}

.KR {
  fill: #dde6ed;
}

.SE {
  fill: #f3e0d7;
}

.country:hover {
  fill: darkgrey;
}




