/*  ****************************************
  Base styles 
  **************************************** */
svg {
  width: 90vw;
  height: 90vh;
  position: relative;
}

path {
  fill: #efefef;
  position: relative;
}

/*  Modules (reusable classes)
  **************************************** */

.US {
  fill: #ebe0e1;
}

.FR {
  fill: #f6da9d;
}

.JP {
  fill: #ccabca;
}

.ES {
  fill: #ced8eb;
}

.DE {
  fill: #bcdbca;
}

.CN, .TW{
  fill: #f6da9d;
}

.IT {
  fill: #ccabca;
}

.GB {
  fill: #ebe0e1;
}

.NL {
  fill: #ced8eb;
}

.CH {
  fill: #cff4f4;
}

.AT {
  fill: #ffdbce;
}

.DK {
  fill: #ccabca;
}

.NO {
  fill: #ced8eb;
}

.KR {
  fill: #ced8eb;
}

.SE {
  fill: #f6da9d;
}

.country:hover {
  fill: darkgrey;
}




