/*	****************************************
	Demo styles (for demo purposes only)
	**************************************** */
p { margin-top: 0; }

h1 {
	font-family: 'Poppins', sans-serif;
}

body {
	font-family: 'Scope One', serif;
}

/*	Modules (reusable classes)
	**************************************** */
.index{
	background-image: url("../images/michelin.jpg");
	height: 100%; 
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 960px; 
	align-self: center;
	position: relative;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.indexContainer {
	margin: 0 auto;
	width: 100%;
	align-self: center;
	position: relative;
}

.firstContainer {
	display: inline-flex;
}

.fifthContainer {
	margin: 0 auto;
	width: 100%;
	align-self: center;
	position: relative;
}
/*	State (for dynamic stuff)
	**************************************** */
.main-menu .is-current a { 
	font-weight: bolder;
	color: #F0574B;
}

.main-menu h1 {
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	word-spacing: 10px;
	padding-left: 10px;
	font-size: 35px;
	letter-spacing: 1.5px;
}

.main-menu ul {
	margin-top: 23px;
	font-size: 16px;
	text-align: center;
}

.index h1 {
	font-weight: bolder;
	font-size: 38px;
}

.index button {
	position: relative;
	float: right;
	margin-right: 15px;
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 0.8px;
	border-radius: 40px;
	background-color: #F0574B;
	color: white;
	border: 3px #F0574B solid;
	outline: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 30px;
	padding-left: 30px;
	top: 230px;
}

.index span {
	font-size: 42px;
	border-bottom: 5px #F0574B solid;
	color: white;
}

section:nth-child(3) {
	background-color: #F5F1ED; 
}

.firstContainer img {
	position: relative;
	width: 60%;
	height: 60%;
	right: 50px;
}

.firstContainer .content{
	position: relative;
	justify-content: left;
	text-align: left;
	padding: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 40px;
	padding-right: 40px;
	color: black;
	background-color: white;
	z-index: 1;
	top: 30px;
	left: 100px;
}

.firstContainer .content h1 {
	
	letter-spacing: 1px;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.firstContainer .content p {
	font-weight: lighter;
	font-size: 15px;
	color: #5a5a5a;
	word-spacing: 2px;
}

section:nth-child(4) {
	background-color: #EBEBEB; 
}


.secondContainer h1{
	letter-spacing: 1px;
	font-size: 30px;
	margin-bottom: 0px;
}

section:nth-child(5) {
	background-color: #F5F1ED; 
}

.thirdContainer .content > * {
	margin: 10px;
	padding: 10px;
	flex-basis: 250px;
	text-align: left;
	background-color: white;
	border-radius: 30px;
}

.thirdContainer .content h3 {
	text-align: left;
	font-family: 'Poppins', sans-serif;
	border-bottom: double 5px #F0574B;
	width: 30%;
}

.thirdContainer h1{
	letter-spacing: 1px;
	font-size: 30px;
	margin-bottom: 60px;
}

.thirdContainer .content p {
	font-weight: lighter;
	font-size: 15px;
	color: #5a5a5a;
}

section:nth-child(6) {
	background-color: #EBEBEB; 
}

.forthContainer li {
	list-style: none;
	display: inline-flex;
	padding: 15px;
	margin: 20px;
	border-radius: 50px;
	background-color: #F0574B;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
}

.forthContainer p {
	margin-bottom: 20px;
	color: #5a5a5a;
}

.forthContainer h1 {
	letter-spacing: 1px;
	font-size: 30px;
	margin-bottom: 20px;
}

.inner-container{
  display: inline-flex;
}

.map {
  zoom: 75%;
  margin: 0;
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fifthContainer h1 {
	letter-spacing: 1px;
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 50px;
}

.fifthContainer h2 {
	font-family: 'Poppins', sans-serif;
	margin-bottom: 10px;
}

.fifthContainer .list div {
	display: none;
}

.fifthContainer .list {
	text-align: left;
	width: 350px;
}

.fifthContainer .list ul {
	padding: 0px;
	margin: 0px;
	display: grid;
	grid-template-columns: auto auto;
}

.fifthContainer .list li {
	list-style: none;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	font-weight: lighter;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 30px;
	color: white;
	background-color: #F0574B;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;

}

.index button:hover {
	background-color: white;
	color: #F0574B;
}
