/*	****************************************
	Demo styles (for demo purposes only)
	**************************************** */
p { margin-top: 0; }

/*	Modules (reusable classes)
	**************************************** */
.index {
	background-image: url("../images/michelin.jpg");
	height: 100%; 
	background-position: right;
  	background-repeat: no-repeat;
}
.container {
	margin: 0 auto;
	width: 100%;
	max-width: 960px; 
	align-self: center;
	position: relative;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.wells > * {
	margin: 10px;
	border: 1px solid #999999;
	padding: 10px;
	flex-basis: 100px;
}

.firstContainer {
	display: inline-flex;
	background-color: #F5F1ED;
}

/*	State (for dynamic stuff)
	**************************************** */
.main-menu .is-current a { 
	font-weight: bolder;
	color: #F0574B;
}

.main-menu h1 {
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	word-spacing: 10px;
	padding-left: 10px;
	font-size: 35px;
	letter-spacing: 1.5px;
}

.main-menu ul {
	margin-top: 23px;
	font-size: 16px;
	text-align: center;
}

.firstContainer img {
	position: relative;
	width: 60%;
	height: 60%;
	right: 50px;
}

.firstContainer .content{
	position: relative;
	justify-content: left;
	text-align: left;
	padding: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 40px;
	padding-right: 40px;
	color: black;
	background-color: white;
	z-index: 1;
	top: 30px;
	left: 100px;
}

.firstContainer .content h1 {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.firstContainer .content p {
	font-family: 'Scope One', serif;
	font-weight: lighter;
	font-size: 15px;
	color: #5a5a5a;
	word-spacing: 2px;
}